@model wad.Models.HomeModel

@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            
            <div class="row">
                <div class="form-preset">
                    
                    <h1 class="heading">MIVE</h1>
                    
                    @using (Html.BeginForm("ProcessForm", "Home", FormMethod.Post, new { @id = "inputForm", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(m => m.Url, new { @class = "form-control", @id = "inputSource", @placeholder = "Enter a valid url here", @type = "url" })
                            <button type="button" id="submitUrl" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-circle-arrow-right"></i></button>
                        </div>
                        <div class="form-group form-inline">
                            <div class="radio radio-inline">
                                <label>
                                    @Html.RadioButtonFor(m => m.Type, wad.Models.TypeModel.MicroData)
                                    microData
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label>
                                    @Html.RadioButtonFor(m => m.Type, wad.Models.TypeModel.MicroFormat)
                                    microFormat
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label>
                                    @Html.RadioButtonFor(m => m.Type, wad.Models.TypeModel.Rdfa)
                                    RDFa
                                </label>
                            </div>
                            
                            <span class="help-block">
                                @Html.ValidationMessageFor(m => m.Type)
                            </span>
                        </div>
                        
                        <input type="file" name="fileUpload" id="fileUpload" />
                        <button type="button" id="submitFile" class="btn btn-sm btn-success btn-block"><i class="glyphicon glyphicon-circle-arrow-up"></i> Upload</button>
                    }

                </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#submitUrl').on('click', function () {
            $('#inputSource').attr('type', 'url');
            $('#inputForm').submit();
        });

        $('#submitFile').on('click', function () {
            $('#inputSource').attr('type', 'text');
            $('#fileUpload').trigger('click');
        });

        $('#fileUpload').on('change', function () {
            if ($(this).val().match(new RegExp(".(html|htm|xhtml)$", "i"))) {
                $('#inputSource').val($(this).val());
                $('#inputForm').submit();
            }
            else {
                $('.help-block').html('<span data-valmsg-replace="true" data-valmsg-for="Type" class="field-validation-error"><span for="fileUpload" generated="true" class="">The selected file type is invalid.</span></span>')
            }
        });
    </script>
}